{% load static %}
<!-- footer start -->
            <div class="row bg-dark footer py-5 mt-5">
                <div class="col-sm-12 text-center text-light">
                    <img src="{% static '/images/29.jpg' %}" alt="">
                    <h4>About Foodies</h4>
                    <p>‘Foodies’ has developed to incorporate four superb takeout areas in Toronto with additional to come sooner rather than later<br/> Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting <br/> Indian-roused nourishment that is not normal for that at some other Indian eatery you visit.</p>

                    <p>&copy; copyright 2022-2023 all right reserved, designed and developed by <i class="text-warning">Mr. Green & group</i></p>
                </div>
            </div>
            <!-- footer end -->
